In [2]:
import pyspark
import re
import pandas as pd

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, from_json, col
from pyspark.sql.types import ArrayType, StructType, StructField, StringType, IntegerType

In [5]:
spark = SparkSession \
    .builder \
    .appName("Spark_data_clean") \
    .config("spark.master", "spark://rayiMac.modem:7077") \
    .config("spark.jars.packages", "com.crealytics:spark-excel_2.12:3.2.2_0.18.0") \
    .config("spark.executor.cores", "1") \
    .config("spark.executor.num", "1") \
    .getOrCreate()

In [7]:
# load csv file into dataframe
df_credits = spark.read.csv("credits.csv", header=True)

In [8]:
df_credits.show()

+--------------------+--------------------+--------------------+
|                cast|                crew|                  id|
+--------------------+--------------------+--------------------+
|[{'cast_id': 14, ...|"[{'credit_id': '...| 'profile_path': ...|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                8844|
|[{'cast_id': 2, '...|[{'credit_id': '5...|               15602|
|"[{'cast_id': 1, ...| 'credit_id': '52...|         'gender': 1|
|[{'cast_id': 1, '...|[{'credit_id': '5...|               11862|
|"[{'cast_id': 25,...| 'credit_id': '52...|         'gender': 0|
|[{'cast_id': 1, '...|[{'credit_id': '5...|               11860|
|[{'cast_id': 2, '...|[{'credit_id': '5...|               45325|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                9091|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                 710|
|"[{'cast_id': 1, ...| 'credit_id': '52...|         'gender': 2|
|[{'cast_id': 9, '...|"[{'credit_id': '...| 'profile_path': ...|
|"[{'cast_id': 1, ...| 'credit_id': '56...|         'gender': 0|
|"[{'cast_id': 1, ...| 'credit_id': '52...|         'gender': 2|
|"[{'cast_id': 1, ...| 'credit_id': '59...|         'gender': 2|
|"[{'cast_id': 4, ...| 'credit_id': '52...|         'gender': 2|
|[{'cast_id': 6, '...|[{'credit_id': '5...|                4584|
|[{'cast_id': 42, ...|"[{'credit_id': '...| 'profile_path': ...|
|"[{'cast_id': 1, ...|         'order': 14| 'profile_path': ...|
|[{'cast_id': 1, '...|[{'credit_id': '5...|               11517|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [9]:
df_id = df_credits.select(col("id"))
df_id.show()

+--------------------+
|                  id|
+--------------------+
| 'profile_path': ...|
|                8844|
|               15602|
|         'gender': 1|
|               11862|
|         'gender': 0|
|               11860|
|               45325|
|                9091|
|                 710|
|         'gender': 2|
| 'profile_path': ...|
|         'gender': 0|
|         'gender': 2|
|         'gender': 2|
|         'gender': 2|
|                4584|
| 'profile_path': ...|
| 'profile_path': ...|
|               11517|
+--------------------+
only showing top 20 rows